html {
    font-size:100%;
    box-sizing:border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    line-height: 1.3;
    background:whitesmoke;
  }

.errormessage {
  margin-top:20px;
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 5px;
  width:fit-content;
}

.successmessage {
  color: #2b7515;
  background: #ecffd6;
  padding:5px;
  border: 1px solid #617c42;
  width:fit-content;
}
.warningmessage {
  color: #756e15;
  background: #fffbd1;
  padding:5px;
  border: 1px solid #87803e;
  width:fit-content;
}