//generic

$box-shadow-light: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
$box-shadow-strong: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
$text-shadow-light: 1px 1px 0px #424242;

//modal

$modal-background: rgba(0, 0, 0, 0.8);

//colors
$background-brown:#9c795c;
$dark-brown: #4e3928;
$light-brown: #dbc1ac;
$light-brown-blur:#dbc1acc4;
$dark-brown-hover: #805d41;
$light-brown-hover:#eed8c7;
