@import './presets';
@import './variables';
@import './globals';

.section1 {
    background: url('../assets/images/landingbackground4.jpg');
    background-size:cover;
    border-radius:12px 12px 0px 0px;
    height:77vh;
    width:97vw;
    margin-top:2vh;
    margin-left:1vw;
    margin-right:1vw;
}
.section2 {
    background:black;
    height:100vh;
}



.landingTitleBox{
    display:flex;
    flex-direction:column;
    width:500px;
    margin-left:50px;

    .landingTitle{
        font-family: 'New Tegomin', serif;
        color:white;
        font-size:70px;
        height:250px;
        margin-top:50px;
        text-shadow: 2px 2px 0px $background-brown;
    }
    .landingText{
        font-family: 'New Tegomin', serif;
        color:white;
        font-size:20px;
        text-shadow: 1px 1px 0px $background-brown;
    }
}

.section2{
    display:flex;
    background:$light-brown;
    max-width:97vw;
    margin-left:1vw;
    margin-right:1vw;
    .animationHolder{
        width:30%;
        margin-left:50px;
        position:relative;
        top:-70px;
    }

    .section2Text{
        font-family: 'New Tegomin', serif;
        color:$dark-brown;
        font-size:50px;
        width:800px;
        height:250px;
        margin-top:50px;
        margin-left:30px;
        text-shadow: 0.5px 0.5px 0px white;
        .landingImgHolder{
            display:flex;
            margin-top:150px;
            width:700px;
            height:300px;
            margin-left:40px;
            border:3px solid white;
        }
    }
}

.section3 {
    background:#D2A970;
    height:100vh;
    margin-top:0px;
    width:97vw;
    margin-left:1vw;
    margin-right:1vw;
    padding-top:2vh;
    padding-bottom:2vh;
    padding-left:2vw;
    padding-right:2vw;
    border-radius:0px 0px 12px 12px;
}
.teamholder{
    display:flex;
    width:90vw;
    height:90vh;
   padding:100px;
    border:6px solid $dark-brown;
    gap:15px;
    justify-content:center;
  }

[class*='teammate']{
    background:black;
    width:200px;
    height:100px;
}