html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  background: #e2dbdb;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.errormessage {
  color: #ba3939;
  background: #ffe0e0;
  border: 1px solid #a33a3a;
  padding: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.successmessage {
  color: #2b7515;
  background: #ecffd6;
  padding: 5px;
  border: 1px solid #617c42;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.warningmessage {
  color: #756e15;
  background: #fffbd1;
  padding: 5px;
  border: 1px solid #87803e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #dbc1ac;
}

*::-webkit-scrollbar-thumb {
  background-color: #4e3928;
  border-radius: 3px;
  border: 2px solid #9c795c;
}

.section1 {
  background: url("../assets/images/landingbackground4.jpg");
  background-size: cover;
  border-radius: 12px 12px 0px 0px;
  height: 77vh;
  width: 97vw;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
}

.landingTitleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  margin-left: 50px;
}

.landingTitleBox .landingTitle {
  font-family: 'New Tegomin', serif;
  color: white;
  font-size: 70px;
  height: 250px;
  margin-top: 50px;
  text-shadow: 2px 2px 0px #9c795c;
}

.landingTitleBox .landingText {
  font-family: 'New Tegomin', serif;
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 0px #9c795c;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #dbc1ac;
  max-width: 97vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.section2 .animationHolder {
  width: 30%;
  margin-left: 50px;
  position: relative;
  top: -70px;
}

.section2 .section2Text {
  font-family: 'New Tegomin', serif;
  color: #4e3928;
  font-size: 50px;
  width: 800px;
  height: 250px;
  margin-top: 50px;
  margin-left: 30px;
  text-shadow: 0.5px 0.5px 0px white;
}

.section2 .section2Text .landingImgHolder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 120px;
  width: 800px;
  gap: 30px;
  height: 300px;
}

.section2 .goToShop {
  margin-left: 250px;
  font-size: 60%;
  font-weight: 500;
  border: 3px solid #9c795c;
  border-radius: 6px;
  text-transform: uppercase;
  color: #eed8c7;
  background-color: #4e3928;
  text-decoration: none;
  color: #dbc1ac;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
}

.section2 .goToShop:hover {
  background-color: #9c795c;
  border: 3px solid #4e3928;
  color: #4e3928;
}

.section2 a, .section2 a:hover, .section2 a:focus, .section2 a:active {
  text-decoration: none;
  color: inherit;
}

[class*='landImg'] {
  -webkit-filter: drop-shadow(0px 8px 4px #000000);
          filter: drop-shadow(0px 8px 4px #000000);
}

.landImg1:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

.landImg2:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

.landImg3:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
}

.section3 {
  background: #D2A970;
  height: 110vh;
  margin-top: 0px;
  width: 97vw;
  margin-left: 1vw;
  margin-right: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 0px 0px 12px 12px;
}

.teamholder {
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  gap: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.teamcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class*='teammate'] {
  background: black;
  width: 200px;
  height: 200px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  -webkit-animation: swirl-in-fwd 0.6s ease-out both;
  animation: swirl-in-fwd 0.6s ease-out both;
}

.teamtitle {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  font-family: 'New Tegomin', serif;
  color: #4e3928;
  font-size: 55px;
  margin-top: 0px;
  text-shadow: 2px 2px 0px #9c795c;
  margin-bottom: 0px;
}

.nameTag {
  font-family: 'New Tegomin', serif;
  color: white;
  font-size: 34px;
  text-shadow: 2px 2px 0px #9c795c;
  margin: 0px;
}

@media screen and (max-width: 1150px) {
  .landingTitleBox {
    width: 300px;
    margin-left: 30px;
  }
  .landingTitleBox .landingTitle {
    font-size: 50px;
  }
  .landingTitleBox .landingText {
    font-size: 15px;
  }
  .section2 .animationHolder {
    margin-left: 30px;
  }
  .section2 .section2Text {
    font-size: 25px;
    width: 500px;
    height: 250px;
  }
  .section2 .section2Text .landingImgHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
    width: 400px;
    gap: 0px;
    height: 200px;
  }
  .section2 .section2Text .landImg3 {
    display: none;
  }
  .section2 .goToShop {
    margin-left: 170px;
    font-size: 60%;
    font-weight: 500;
    border: 3px solid #9c795c;
    border-radius: 6px;
    text-transform: uppercase;
    color: #eed8c7;
    background-color: #4e3928;
    text-decoration: none;
    color: #dbc1ac;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 5px;
  }
  .section2 .goToShop:hover {
    background-color: #9c795c;
    border: 3px solid #4e3928;
    color: #4e3928;
  }
  .section2 a, .section2 a:hover, .section2 a:focus, .section2 a:active {
    text-decoration: none;
    color: inherit;
  }
  [class*='landImg'] {
    -webkit-filter: drop-shadow(0px 8px 4px #000000);
            filter: drop-shadow(0px 8px 4px #000000);
  }
  .landImg1:hover {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }
  .landImg2:hover {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }
  .landImg3:hover {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }
  .section3 {
    background: #D2A970;
    height: 110vh;
    margin-top: 0px;
    width: 97vw;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 0px 0px 12px 12px;
  }
  .teamholder {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    gap: 120px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
  }
  .teamcard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  [class*='teammate'] {
    background: black;
    width: 200px;
    height: 200px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
    -webkit-animation: swirl-in-fwd 0.6s ease-out both;
    animation: swirl-in-fwd 0.6s ease-out both;
  }
  .teamtitle {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    font-family: 'New Tegomin', serif;
    color: #4e3928;
    font-size: 55px;
    margin-top: 0px;
    text-shadow: 2px 2px 0px #9c795c;
    margin-bottom: 0px;
  }
  .nameTag {
    font-family: 'New Tegomin', serif;
    color: white;
    font-size: 34px;
    text-shadow: 2px 2px 0px #9c795c;
    margin: 0px;
  }
}

@-webkit-keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@keyframes swirl-in-fwd {
  0% {
    -webkit-transform: rotate(-540deg) scale(0);
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
/*# sourceMappingURL=LandingPage.css.map */