@import './presets';
@import './variables';
@import './globals';

.loginBox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 800px;
  height: 400px;
  justify-content: flex-start;
  background-color: $light-brown;
  box-shadow: $box-shadow-light;
}

.loginForm {
  @include flexColumn;
  gap: 15px;
  min-width: 270px;
  margin-right: 80px;
  margin-left: 50px;
  justify-content: center;
  height: 400px;
  -webkit-animation: flip-in-hor-bottom 0.5s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    both;
  input {
    border: 2px solid $dark-brown;
    background-color: $light-brown-hover;
    width: 250px;
  }
  button {
    align-self: center;
    margin-top: 20px;
    width: 100px;
    font-size: 120%;
    font-weight: 500;
    background-color: $background-brown;
    border: 3px solid $dark-brown;
    margin-right: 20px;
    color: $light-brown-hover;
    font-weight: 600;
  }

  button:hover {
    background-color: $light-brown-hover;
    border: 3px solid $dark-brown-hover;
    color: $dark-brown-hover;
  }
}

.formImgBox {
  width: fit-content;
  height: fit-content;
  -webkit-box-shadow: -8px 0px 6px -5px rgba(0, 0, 0, 0.99);
  box-shadow: -8px 0px 6px -5px rgba(0, 0, 0, 0.99);
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.forgottenPassword {
  font-size: 70%;
  margin-left: 140px;
  font-weight: 500;
  color: $dark-brown;
}

@media screen and (max-width: 940px) {
  .loginBox {
    margin-left: 0px;
    margin-right: 0px;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 400px;
    justify-content: center;
    h1 {
      align-self: center;
    }
  }

  .loginFormImgBox {
    display: none;
  }
  .loginForm {
    display: flex;
    gap: 15px;
    min-width: 50%;
    width: 80%;
    margin-right: 0px;
    margin-left: 0px;
    justify-content: center;
    height: 400px;
    input {
      align-self: center;
      margin-right: 0px;
    }
    button {
      align-self: center;
      width: 150px;
      color: $light-brown-hover;
      font-size: 120%;
      font-weight: 500;
      background-color: $background-brown;
      border: 3px solid $dark-brown;
      margin-right: 10px;
      font-weight: 600;
    }
  }
  .formImgBox {
    display: none;
  }
  .passworddiv {
    width: fit-content;
    align-self: center;
    margin-left: 17px;
  }
  .forgottenPassword {
    font-size: 70%;
    margin-left: 60%;
  }
}

//Animations

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-450px);
    transform: translateX(-450px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-450px);
    transform: translateX(-450px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}
