@import './presets';
@import './variables';

#order_review {
  padding: 20px;
  background-color:$background-brown;
  height:100vh;
  h1{
    text-shadow:$text-shadow-light;
    color:black;
    filter: drop-shadow(0px 1px 0.5px rgb(180, 180, 180));
  }
  #order_review_main {
    display: flex;
    gap: 20px;
    #order_review_inner_main {
      min-width: 900px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      #order_review_settings {
        height: 300px;
        background:$light-brown;
      }
      #order_review_items {
        height: 300px;
        background:$light-brown;
      }
    }
    #order_review_aside {
      display: flex;
      flex-direction: column;
      gap: 20px;
      #order_review_checkout {
        padding: 20px;
        min-width: 300px;
        height: 200px;
        background: $light-brown;
        color:$dark-brown;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow:$box-shadow-light;
        #order_review_checkout div:nth-child(1) {
          font-weight: bold;
          padding-bottom: 20px;
          border-bottom: 2px solid $dark-brown;
        }
        #order_review_checkout div:nth-child(2) {
          font-weight: bold;
          font-size: 20px;
          align-self: flex-end;
        }
        button{
          height: 40px;
          color:$light-brown;
          font-weight:600;
          background-color: $dark-brown;
        }
        button:hover{
          background-color: $dark-brown-hover;
        }
      }
    }
  }
}







