@import './presets';
@import './variables';

#order_review {
  padding: 20px;
  background-color:#D2A970;
  min-height: 100vh;
  max-height: fit-content;
  h1{
    text-shadow:$text-shadow-light;
    color:black;
    filter: drop-shadow(0px 1px 0.5px rgb(180, 180, 180));
  }
}

#order_review_main {
  display: flex;
  gap: 20px;
}

#order_review_inner_main {
  min-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#order_review_settings {
  background:$light-brown;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#order_review_shipping_address {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  font-weight: bold;
  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div input {
      width: 125px;
    }
  }
}

#order_review_billing_address {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  font-weight: bold;
  div:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    div input {
      width: 125px;
    }
  }
}

#order_review_payment {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  div:nth-child(1) {
    color: black;
    font-weight: bold;
  }
}

#order_review_items {
  padding: 20px;
  background:$light-brown;
  display: flex;
  justify-content: space-between;
}

#order_review_items_list {
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#order_review_items_list_title {
  color: black;
  font-weight: bold;
}

#order_review_delivery_option {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#order_review_delivery_option_title {
  color: black;
  font-weight: bold;
}

#order_review_aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#order_review_checkout {
  padding: 20px;
  min-width: 300px;
  background: $light-brown;
  color:$dark-brown;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow:$box-shadow-light;
  button{
    height: 40px;
    color:$light-brown;
    font-weight:600;
    background-color: $dark-brown;
  }
  button:hover{
    background-color: $dark-brown-hover;
  }
  div {
    display: flex;
    justify-content: space-between;
  }
  div:first-child {
    color: black;
    font-weight: bold;
  }
  div:last-child {
    color:$dark-brown;
    font-weight: bold;
  }
}

#order_review_checkout_summary {
  font-size: 22px;
  padding-bottom: 20px;
  border-bottom: black solid 2px;
}

#order_review_checkout_total {
  display: flex;
  align-items: center;
  padding-top: 20px;
  border-top: black solid 2px;
  div:first-child {
    color: #ee4b4b;
    font-size: 22px;
  }
  div:last-child {
    color: #ee4b4b;
  }
}

@media screen and (max-width: 1270px) {
  #order_review_main {
    flex-direction: column;
    max-width: 900px;
  }
  #order_review_inner_main {
    min-width: 100%;
  }
  #order_review_checkout {
    min-width: 350px;
  }
}

@media screen and (max-width: 940px) {
  #order_review_settings {
    min-width: 350px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: fit-content;
  }
  #order_review_items {
    min-width: 350px;
  }
}
@media screen and (max-width: 846px) {
  #order_review_payment {
    padding-top: 20px;
  }
}

@media screen and (max-width: 740px) {
  #order_review_items {
    flex-direction: column;
  }
  #order_review_items_list {
    width: 100%;
  }
  #order_review_delivery_option {
    width: 100%;
  }
}

@media screen and (max-width: 596px) {
  #order_review_billing_address {
    padding-top: 20px;
  }
}