
@import './presets';
@import './variables';

.detailsHolder{
    display:flex;
    gap:15px;
    background:#D2A970;
    align-items:center;
    justify-content:center;
    border-radius:8px;
    border:2px solid $dark-brown;
    margin-bottom:15px;
}

.itemsHolder{
    display:flex;
}

.cardHolder{
    display:flex;
    align-items: center;
    justify-content:center;
}

.holdingContainer{
    display:flex;
    flex-direction:column;
    width:max-content;
}

.cardtitle{
    font-size:150%;
}