@import './presets';

#memeDetails-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

#memeDetails {
  width: 1060px;
  height: 660px;
  background-color: rgb(0, 0, 0);
  border: 10px solid rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-shrink:0.5;
}

#memeDetails-left-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#memeDetails-img-box {
  height: 500px;
  padding: 10px;
  background-color: white;
  position:relative;
  bottom:5px;
}

#reaction-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#memeDetails-img-box img {
  height: 100%;
}

#owner-text {
  color: white;
  font-weight:600;
  font-size:150%;
}

.reaction-text {
  color:white;
  display: flex;
  align-items: center;
  gap: 8px;
}

.memeDetails-reaction-icon {
  height: 25px;
}

#memeDetails-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width:450px;
}

#number-of-comments {
  color: white;
}

#comments-box {
  height: 400px;
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  padding: 10px;
  overflow-y:auto;
  overflow-x:auto;
  border-radius:5px;
  min-width:4px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#comment-text {
  background-color: rgb(228, 228, 228);
  border: solid 1px rgb(179, 179, 179);
  padding: 5px;
  border-radius:8px;
  overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

#comment-form {
  display: flex;
  flex-direction: column;
}

#commentinput {
  height: 70px;
  resize: none;
  outline:none;
  position:relative;
  top:3px;
  border-radius:5px;
}

#memeDetails button {
  width: fit-content;
  align-self: flex-end;
  margin-bottom:0px;
  position:relative;
  top: 5px;
  left: 10px;
}

#myMemeDetails-button-box {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

@media screen and (max-width: 880px) {
  #memeDetails-background {
    width: 100;
    height: 100;
    background: rgba(0, 0, 0, 0.8);
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin:0;
  }
  
  #memeDetails {
    width: 90vw;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    border: 10px solid rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-shrink:0.5;
  }
  
  #memeDetails-left-side {
    display:flex;
    width:0px;
  }
  
  #memeDetails-img-box {
    height: 500px;
    padding: 10px;
    background-color: white;
    position:relative;
    bottom:5px;
    display:none;
  }
  
  #reaction-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    position:relative;
    left: 20vw;
    height:30px;
  }
  
  #memeDetails-left-side img {
    height: 100%;
    display:none;
  }
  
  #owner-text {
    color: white;
    font-weight:600;
    font-size:150%;
  }
  
  .reaction-text {
    color:white;
  }
  
  #memeDetails-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width:300px;
  }
  
  #number-of-comments {
    color: white;
    position:relative;
    left:45vw;
  }
  
  #comments-box {
    height: 55vh;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
    padding: 10px;
    overflow-y:auto;
    overflow-x:auto;
    border-radius:5px;
    min-width:300px;
    position:relative;
    left: -30px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  #comment-text {
    background-color: rgb(228, 228, 228);
    border: solid 1px rgb(179, 179, 179);
    padding: 5px;
    border-radius:8px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  #comment-form {
    display: flex;
    flex-direction: column;
  }
  
  #commentinput {
    height: 70px;
    resize: none;
    outline:none;
    position:relative;
    top:3px;
    border-radius:5px;
    position:relative;
    left: -30px;
  }
}