.detailsHolder{
    display:flex;
    gap:15px;
    background:brown;
    align-items:center;
    justify-content:center;
}

.itemsHolder{
    display:flex;
}

.cardHolder{
    display:flex;
    align-items: center;
    justify-content:center;
}