@import './presets';
@import './variables';

#user_profile {
  padding: 80px;
  background-color:#D2A970;
  min-height: 500px;
  h1{
    text-shadow:$text-shadow-light;
    color:black;
    filter: drop-shadow(0px 1px 0.5px rgb(180, 180, 180));
    margin: 0 0 20px 0;
  }
}

#user_profile_modify_main {
  width: 900px;
  background:$light-brown;
  height: 300px;
  padding: 20px;
}

#user_profile_create_main {
  width: 900px;
  background:$light-brown;
  height: 300px;
  padding: 20px;
}

#user_profile_password_main {
  width: 900px;
  background:$light-brown;
  height: 300px;
  padding: 20px;
}

button#full-width-tab-0.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.Mui-selected.MuiTab-fullWidth {
  background:$dark-brown;
}

button#full-width-tab-1.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.MuiTab-fullWidth{
  background:$dark-brown;
}

button#full-width-tab-2.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.MuiTab-fullWidth {
background:$dark-brown;
}

span.MuiTab-wrapper {
  color:$light-brown;
  font-weight:600;
}
button#full-width-tab-0.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.MuiTab-fullWidth{
  background:$dark-brown;
}
span.PrivateTabIndicator-root-2.PrivateTabIndicator-colorPrimary-3.MuiTabs-indicator{
  background:#cc7e11;
}